<div class="card" style="width: 18rem; margin-top: 10%;">
  <img class="card-img-top" src="artists.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Artists</h5>
    <p class="card-text">Discover loads of different fellow artists, who joined our network and shared their majestic works </p>
    <%= link_to 'Discover', artists_path, class:"btn btn-secondary btn-block", style: "width: auto; display: block;"%>
  </div>
</div>
