<div class="d-flex justify-content-around" style="margin-top: 8%">
  <div class="ms-5" style="width:800px">
    <img src="../left.png" style="zindex:1; position:absolute; width:800px; margin-top: 8%">
    <div class="card" style="width: 18rem; margin-top: 5%; zindex:2; position:absolute; margin-left: 12%;">
      <img class="card-img-top card-img" src="../artists.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Artists</h5>
        <p class="card-text">Discover loads of different fellow artists, who joined our network and shared their majestic works </p>
        <%= link_to 'Discover', artists_path, class:"btn btn-secondary btn-block", style: "width: auto; display: block;"%>
      </div>
    </div>
  </div>
  <div>
    <img src="../right.png" style="zindex:1; position:absolute; width:800px; margin-top: 10%">
    <div class="card" style="width: 18rem; margin-top: 5%; zindex:2; position:absolute; margin-left: 12%;">
      <img class="card-img-top card-img" src="../sketch.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Add your drawing</h5>
        <p class="card-text">Become a member of our community by adding your works to gallery</p>
        <%= link_to 'Add painting', new_art_work_path, class:"btn btn-secondary btn-block", style: "width: auto; display: block;"%>
      </div>
    </div>
  </div>
</div>
